<form method="post" action="{{ path('forward', {stepName: context.currentStep.name}) }}">
    <label>
        <input type="radio" name="method" value="Bank Transfer" />
        Bank Transfer
    </label>

    <label>
        <input type="radio" name="method" value="PayPal" />
        PayPal
    </label>

    <button>Submit</button>
</form>